
<img src="../images/walkingdead.jpg">

<p>Based on one of the most successful and popular comic books of all time, written by Robert Kirkman, AMC's The Walking Dead captures the ongoing human drama following a zombie apocalypse. The series follows a group of survivors, led by police officer Rick Grimes, played by Andrew Lincoln (Love Actually, Teachers, Strike Back), who are traveling in search of a safe and secure home. However, instead of the zombies, it is the living who remain that truly become the walking dead. Jon Bernthal plays Shane Walsh, Rick's sheriff's department partner before the apocalypse, and Sarah Wayne Callies, is Rick's wife, Lori Grimes. Additional cast include: Laurie Holden, Steven Yeun, Norman Reedus, Jeffrey DeMunn, Chandler Riggs, Iron E. Singleton and Melissa McBride. Guest stars include: Lauren Cohan, Scott Wilson and Pruitt Taylor Vince.</p>

<div ng-click="handleMyButton()" class="btn btn-default btn-sm">ONE</div>